{% extends 'base.html' %}
{% block content %}

<div id="modal-container" class="">
    <div id="attic-post-modal" class="modal-form">
        <div id="exit-attic-post-modal-btn" class="btn btn-red">Cancel</div>

        <h2>Let's add <i>another</i> item to the Attic!</h2>

        <form id="new-attic-post" action="POST">
            <div class="input-row">
                <label for="title">Title:</label>
                <input id="title" type="text" name="title" required>
            </div>

            <div class="input-row">
                <label for="photo-upload">Add Photos: <span class="optional">(optional)</span></label>
                <input id="photo-upload" name="photo-upload" type="file" accept="image/*" multiple>
            </div>
        
            <div class="input-row">
                <label for="belongs-to">Who did it belong to?: <span class="optional">(optional)</span></label>
                <input id="belongs-to" name="belongs-to" type="text">
            </div>

            <div class="input-row">
                <label for="found-in">Where was it found?: <span class="optional">(optional)</span></label>
                <input id="found-in" name="found-in" type="text">
            </div>

            <div class="input-row">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required draggable></textarea>
            </div>

            <div class="input-row">
                <label for="last-chance-date">Last Chance Date: <span class="optional">(optional)</span><br>
                    <span style="font-weight: normal; font-style: italic; color: rgb(135, 135, 135)">
                        The last day to claim before it's sold or thrown away!
                    </span>
                </label>
                <input type="date" name="last-chance-date" id="last-chance-date">
            </div>

            <div class="input-row">
                <div id="submit-new-attic-item-btn" class="btn btn-green">Throw it in there!</div>
            </div>
    
        </form>
    </div>
</div>


<div id="main">

    <div id="attic-btn-list" class="container btn-list">
        <div id="create-attic-post-btn" class="btn btn-green">Add Item</div>
    </div>

    <div id="attic_data" class="container">
        {% for attic_item in attic_data %}
            <div class="attic_item" data-id="{{ attic_item['id'] }}">
                
                <div class="image">
                    {% set image_path = url_for('static', filename='images/noimage.png') %}
                    {% if attic_item["image_count"] > 0 %}
                    {% set image_path = url_for('static', filename='images/attic/{}'.format(attic_item["image_name"])) %}
                    {% set image_path = url_for('static', filename='images/noimage.png') %}
                    {% endif %}

                    <img src="{{ image_path }}" alt="">
                </div>
                
                <div class="item_details">
                    <div class="title">{{ attic_item["title"] }}</div>
                    <div class="created_at">
                        <b>Posted: </b>{{ attic_item["created_at_datetime"].strftime("%b %d, %Y | %I:%M %p") }}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

</div>

{% endblock content %}